@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  background: #f1f6f9;
  font-size: 16px;
  font-family: "メイリオ", "Meiryo", sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #0050aa;
}
a:hover {
  opacity: 0.8;
  transition: all 0.2s;
}

blockquote {
  margin: 0 0 30px 0;
}

#wrapper {
  width: 1000px;
  margin: 0 auto;
  background: #fff;
}

#header {
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#header .jami2023logo {
  width: 100px;
  margin: 0 auto;
}
#header h1 {
  margin: 0 0 0 10px;
}
#header h1 a {
  display: block;
  width: 700px;
  height: 80px;
  margin: 0 28px 0 0;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 30px 0;
}

#sidebar {
  width: 220px;
}
#sidebar .global_nav {
  margin: 0 0 10px 0;
  background: #eee;
  font-weight: bold;
  color: #fff;
}
#sidebar .global_nav ul li a {
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid #fff;
  color: #fff;
  text-indent: 20px;
}
#sidebar .global_nav ul li .enable {
  background: rgb(25, 58, 120);
  background: linear-gradient(0deg, rgb(25, 58, 120) 0%, rgb(0, 80, 170) 100%);
  transition: all 0.3s;
}
#sidebar .global_nav ul li .enable:hover {
  background: rgb(25, 58, 120);
  background: linear-gradient(0deg, rgb(0, 80, 170) 0%, rgb(25, 58, 120) 100%);
  opacity: 1;
  text-indent: 2em;
  transition: all 0.3s;
}
#sidebar .global_nav ul li .disable {
  background: #969696;
  cursor: default;
  opacity: 1;
}
#sidebar .poster_area {
  margin: 0 0 10px 0;
}
#sidebar .poster_area .poster_item {
  background: #ffc646;
  padding: 5px;
  color: #0050aa;
}
#sidebar .poster_area .poster_item a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sidebar .poster_area .poster_item a p {
  display: flex;
  align-items: center;
  font-weight: bold;
  height: 30px;
  text-align: center;
}
#sidebar .poster_area .poster_item a .small {
  font-size: 11px;
}
#sidebar .banner_area {
  margin: 0 0 10px 0;
}
#sidebar .banner_area .banner_item {
  display: block;
  width: 220px;
  height: 80px;
  margin: 0 0 10px 0;
}

#contents {
  width: 690px;
}
#contents .contents_title {
  display: flex;
  align-items: center;
  text-indent: 0.5em;
  background: url(../img/h2.jpg);
  width: 690px;
  height: 50px;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  margin: 0 0 60px 0;
}
#contents .contents_area {
  margin: 0 0 60px 0;
}
#contents .contents_area h3 {
  position: relative;
  font-size: 22px;
  font-weight: bold;
  border-left: 4px solid #0050aa;
  border-bottom: 1px solid #000;
  padding: 0 0 4px 10px;
  margin: 0 0 31px 0;
  line-height: 1.3;
}
#contents .contents_area .access_h5 {
  color: #0050aa;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  padding: 15px 0;
  margin: 0 0 30px 0;
  border-top: 2px solid #0050aa;
  border-bottom: 2px solid #0050aa;
}
#contents .contents_area ul {
  margin: 0 0 30px 0;
}
#contents .contents_area ul li {
  margin: 0 0 15px 0;
}
#contents .contents_area .bus_route {
  margin: 0 0 20px 0;
}
#contents .contents_area .bus_route dt {
  font-weight: bold;
  background: #f1f6f9;
  padding: 15px;
  margin: 0 0 15px 0;
}
#contents .contents_area .bus_route dd {
  padding: 0 0 0 38px;
  margin: 0 0 10px 0;
}
#contents .contents_area .bus_route dd p {
  position: relative;
  line-height: 2;
  text-align: justify;
  text-justify: inter-ideograph;
}
#contents .contents_area .bus_route dd p img {
  position: absolute;
  top: 3px;
  left: -12px;
}
#contents .contents_area .bus_route .bl_blue {
  border-left: 10px solid #0050aa !important;
}
#contents .contents_area .bus_route .bl_red {
  border-left: 10px solid red !important;
}
#contents .contents_area .links_h3 {
  margin: 0 0 30px 0;
}
#contents .contents_area .links_h3 h3 {
  font-size: 1.1em;
  margin: 0 0 15px 0;
  border-bottom: none;
}
#contents .contents_area p {
  font-size: 15px;
  padding: 0 0 0 1em;
  line-height: 1.66;
}
#contents .contents_area .bus_map_img {
  margin: 0 0 30px 0;
}
#contents .contents_area .contents_officer P:first-child {
  font-size: 18px;
  font-weight: bold;
  color: #0050aa;
}
#contents .contents_area .contents_officer P:last-child {
  margin: 0 0 10px 0;
}
#contents .mv {
  position: relative;
  height: 720px;
  background: url("../img/mv.jpg");
  z-index: 1;
  margin: 0 0 160px 0;
}
#contents .mv .subtitle {
  position: absolute;
  top: 30px;
  left: 30px;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}
#contents .mv .date {
  position: absolute;
  right: 40px;
  top: 150px;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}
#contents .mv .session_detail {
  position: absolute;
  right: 20px;
  top: 220px;
  width: 340px;
  height: 380px;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
}
#contents .mv .session_detail dl {
  display: none;
}
#contents .mv .subimage {
  position: absolute;
  z-index: 2;
  bottom: -125px;
  left: 50%;
  transform: translate(-50%, 0);
}

#news section .news_title {
  position: relative;
  font-size: 22px;
  padding: 0 0 5px 0;
  border-bottom: 2px solid #000;
}
#news section .news_title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 210px;
  height: 4px;
  background-color: #000;
}
#news section .news_area {
  height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 5px 0 0 0;
}
#news section .news_area .news_row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e3e3e3;
  padding: 15px 10px 15px 0;
}
#news section .news_area .news_row span {
  font-size: 14px;
  line-height: 1.66;
  margin: 0 25px 0 0;
}
#news section .news_area .news_row p {
  font-size: 15px;
  line-height: 1.66;
}
#news section .news_area .news_row p a {
  color: #0050aa;
  text-decoration: underline;
}

#footer {
  background: #efefef;
  padding: 30px 0;
}
#footer .address_area {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#footer .address_area li address .address_title {
  font-weight: bold;
  color: #0050aa;
  font-size: 17px;
  line-height: 1.47;
}
#footer .address_area li address .address_name {
  font-weight: bold;
  font-size: 15px;
  line-height: 1.66;
}
#footer .address_area li address span {
  font-size: 15px;
  line-height: 1.66;
}
#footer .address_area li:first-child {
  margin: 0 60px 0 0;
}

#pagetop span {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  color: #fff;
  background: #0050aa;
  font-size: 16px;
  font-weight: bold;
}
#pagetop span:hover {
  cursor: pointer;
}

.ast_indent {
  display: inline-block;
  text-indent: -1em;
  padding-left: 1em;
}

.abst_inner {
  margin: 0 0 22px 0;
}
.abst_inner h4.lst_n {
  list-style-type: none;
  padding: 10px 0;
}
.abst_inner h4.lst_n::before {
  content: none;
}
.abst_inner div {
  margin: 0 0 14px 1em;
}
.abst_inner div p {
  padding: 0 !important;
}
.abst_inner div li {
  font-size: 15px;
  margin: 0 0 4px 0;
  margin: 0 0 7px 8px;
}
.abst_inner h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  margin: 0 0 12px 20px;
  padding: 10px 0 10px 20px;
  border-bottom: 1px solid #999;
}
.abst_inner h4::before {
  content: "";
  position: absolute;
  left: 0px;
  width: 12px;
  height: 12px;
  background: #0050aa;
  border-radius: 1em;
}
.abst_inner h6 {
  margin: 0 0 12px 0;
  padding: 0 0 6px 0;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px dotted #666;
}

div.abst_inner_l2 {
  margin: 0 0 12px 2em;
}
div.abst_inner_l2 div {
  margin: 0 0 16px 0;
}
.btn_aqua {
  color: #fff;
  background: #00c6ff;
  text-align: center;
  font-weight: bold;
  display: block;
  width: 360px;
  padding: 14px;
}

.btn_blue {
  color: #fff;
  background: #0050aa;
  text-align: center;
  font-weight: bold;
  display: block;
  width: 360px;
  padding: 14px;
}

.btn_red {
  color: #fff;
  background: #ca000c;
  text-align: center;
  font-weight: bold;
  display: block;
  width: 360px;
  padding: 14px;
}

div.abstract_template {
  margin: 0 0 0 20px;
}
div.abstract_template .abstract_template_box {
  margin: 8px 0 24px 0;
  padding: 16px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.abstract_template .abstract_template_box a {
  margin: 7px 0;
}

.h3_rpgh {
  text-align: right;
  color: red;
  position: absolute;
  top: 0;
  right: 0;
}

.copyright {
  font-size: 13px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  padding: 0 30px;
}

.greeting_profile {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0 0 60px 0;
}
.greeting_profile .greeting_details {
  width: 450px;
  text-align: right;
  margin: 0 30px 15px 0;
}
.greeting_profile .greeting_details p {
  margin: 0 0 10px 0;
}

.greeting_content {
  padding: 0 60px;
  font-size: 16px;
  line-height: 2;
  text-align: justify;
}

.inquiry_area {
  border: 2px solid #0050aa;
  border-radius: 6px;
  padding: 18px 10px 10px 10px;
  position: relative;
  margin: 0 0 30px 0;
}
.inquiry_area h4 {
  font-size: 1.2em;
  position: absolute;
  top: -7px;
  left: 14px;
  padding: 0 10px;
  color: #0050aa;
  background: #fff;
  font-weight: bold;
}

.alert_area {
  border: 2px solid red;
  border-radius: 6px;
  padding: 18px 10px 10px 10px;
  position: relative;
  margin: 0 0 15px 0;
}
.alert_area h4 {
  font-size: 1.2em;
  position: absolute;
  top: -7px;
  left: 14px;
  padding: 0 10px;
  color: red;
  background: #fff;
  font-weight: bold;
}
.alert_area .alert_area_box {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.alert_area .alert_area_box div:first-child {
  flex-basis: 80%;
  margin: 0 30px 0 0;
}
.alert_area .alert_area_box div:last-child {
  flex-basis: 20%;
}

.quote {
  font-size: 0.8em !important;
}

.al-r {
  text-align: right !important;
}

.al-l {
  text-align: left !important;
}

.sup {
  font-size: 0.7em !important;
  font-weight: bold;
  vertical-align: super !important;
}

.alert {
  color: red !important;
  margin-left: 1em;
  text-indent: -1em;
}

.link_red {
  font-weight: bold;
  color: red;
}
.link_red:hover {
  text-decoration: underline;
}

.link_blue {
  font-weight: bold;
  color: #0050aa;
}
.link_blue:hover {
  text-decoration: underline;
}

.link_orange {
  font-weight: bold;
  color: orange;
}
.link_orange:hover {
  text-decoration: underline;
}

.map_link {
  padding: 10px 0 0 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.map_link img {
  margin: 0 5px 0 0;
}

.tx_c {
  text-align: center;
}

.tx_l {
  text-align: left;
}

.tx_r {
  text-align: right;
}

.mt_30 {
  margin-top: 30px;
}

.b {
  font-weight: bold;
}

.tutorial_inner {
  margin: 0 0 14px 0;
}
.tutorial_inner p {
  font-size: 15px;
  line-height: 1.6;
}
.tutorial_inner ul {
  padding: 0 0 0 2em;
}
.tutorial_inner ul li {
  font-size: 15px;
  line-height: 1.6;
}
.tutorial_inner h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  margin: 0 0 12px 20px;
  padding: 10px 0 10px 20px;
  border-bottom: 1px solid #999;
}
.tutorial_inner h4::before {
  content: "";
  position: absolute;
  left: 0px;
  width: 12px;
  height: 12px;
  background: #0050aa;
  border-radius: 1em;
}
.tutorial_inner h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 6px 0;
}

.tutorial_template_box {
  margin: 8px 0 24px 0;
  padding: 16px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
}/*# sourceMappingURL=style.css.map */